/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} */
/* */

/* ////////////////////////////////////// */
/* * {
  border: solid 1px red !important;
} */
@import url("https://fonts.googleapis.com/css2?family=Castoro&family=Rubik:wght@400;500;600;700&display=swap");

.body {
  line-height: 1.5;
  font-family: Castro, sans-serif;
}

.container {
  margin: 0 auto;
  width: 1296px;
}

.header__img {
  display: block;
  margin: 0 auto;
}

.header__h1 {
  font-size: 8rem;
  line-height: 12rem;
  margin-top: 160px;
  letter-spacing: 0.8rem;
}

.header__h2 {
  text-align: right;
  font-size: 128px;
  line-height: 192px;
  letter-spacing: 1.25rem;
}

.main {
  margin: 0 auto;
  background: #efefef;
}

.description {
  margin-left: auto;
  width: 636px;
}

.description__paragraph {
  font-size: 32px;
  line-height: 48px;
  padding: 48px 0;
}

.profile-row {
  margin-top: 32px;
  width: 636px;
}

.profile__h3 {
  font-size: 40px;
  line-height: 60px;
  color: #ae0000;
  margin-bottom: 16px;
  border-bottom: 3px solid #ae0000;
}

.profile__h4 {
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
  color: #949494;
}

.profile__list {
  list-style: none;
}

.profile__listItem {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.profile__listItem--link {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s ease;
  border-radius: 0 10px 10px 0;
}

.profile__listItem--link:hover {
  color: #fff;
  text-decoration: none;
  transform: translateX(10px);
  background-color: #ae0000;
}

/* .profile-row p {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px;
  letter-spacing: 1px;
} */

.footer {
  background-color: #000000;
}

.footer {
  margin-top: 152px;
}

.footer-container {
  margin: 0 auto;
  width: 300px;
}

.footer-container__icon {
  padding: 64px 0;
  display: inline-block;
}

.footer-container__icon--link:hover {
  opacity: 0.5;
}

.mt-80 {
  margin-top: 80px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.p-left-right-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
